.lead__title {
  max-width: 720px;
  min-width: 288px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  align-self: center;
  text-align: center;
  margin: 57px calc((100% - 984px) / 2) 0 calc((100% - 984px) / 2);
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 48px calc((100% - 984px) / 2) 0 calc((100% - 984px) / 2);
  }
}

@media screen and (max-width: 730px) {
  .lead__title {
    max-width: 425px;
    font-size: 60px;
  }
}

@media screen and (max-width: 520px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
    margin: 48px 0 0 0;
  }
}

