.header__lang-links {
  display: flex;
  padding: 28px 48px 0 0;
  gap: 18px;
  list-style: none;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .header__lang-links {
    padding: 28px 24px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    padding: 30px 16px 0 0;
  }
}
